@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased;
}

/* Line Style's */
.line {
    width: 60px;
    height: 3px;
    background-color: #0F172A;
    /* Change color as needed */
    transition: transform 0.3s ease-in-out;
    border-radius: 9999px;
}

/* Animation Classes */
.animate-icon1 {
    transform: translateX(0);
}

.animate-icon2 {
    transform: translateX(80px);
    /* Adjust based on icon position */
}

.animate-icon3 {
    transform: translateX(160px);
    /* Adjust based on icon position */
}

.animate-icon4 {
    transform: translateX(240px);
    /* Adjust based on icon position */
}

/* Scrollbar  */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Adjust width for desired thickness */
    height: 8px; /* Adjust height for horizontal scrollbars */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background for the track */
    border-radius: 10px; /* Rounded corners for smoothness */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* Gray thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9a9; /* Slightly darker on hover */
  }